[submodule "external/DRCT"]
	path = external/DRCT
	url = git@github.com:ming053l/DRCT.git
[submodule "external/osiris"]
	path = external/osiris
	url = git@github.com:Mango233/Osiris.git
[submodule "external/iris_sam"]
	path = external/iris_sam
	url = git@github.com:ParisaFarmanifard/Iris-SAM.git
[submodule "external/DnCNN"]
	path = external/DnCNN
	url = git@github.com:SaoYan/DnCNN-PyTorch.git
